<table>
  <tr>
    <td>
      <table class="users_table">
        <tr>
          <th>Participant</th></br>
          <th>Computer ID</th>
          <th>Status</th>
          <!--th>Connection</th-->
        </tr>
        <% $user_data.each do |row| %>
          <tr class="users">
            <td><%= row[:id] %></td>
            <td><%= row[:computer_id] %></td>
            <td><%= row[:status] %></td>
          </tr>
        <% end %>
      </table>
    </td>

    <td>
      <table class="control">
        <tr>
          <td>
            <div id="timebox">
              <div id="timelabel"><b>Time:-</b></div>
              <div id="timevalue">&nbsp;</div>
              <input id="timebutton" type="button" value="Change Duration" />
            </div><br /><br />
          </td>
        </tr>
        
        <tr>
          <td id="user_div">
            <div id="userlimit">
              <div id="timelabel"><b>No of users :-</b></div>
              <div id="uservalue">2</div>
              <input id="userlimitbutton" type="button" value="Change Limit" />
            </div><br /><br />
          </td>
        </tr>
       
        
        <tr>
          <td>
          	<div>
          		<input id="enable" type="button" title="Enable connections for all the users" value="Enable Connections" onclick="enable_users('enable')" />
          	</div>
            <div>
                <input id="start" type="button" title="Click to start experiment once the connection is set" value="Start Experiment"  onclick="change_experiment_status('start')" /><br />
                <input id="stop" type="button" title="Click to stop experiment" value="Stop Experiment" onclick="change_experiment_status('stop')" /><br />
                <input id="reset" type="button" title="Click to reset experiment" value="Reset Experiment" onclick="change_experiment_status('reset')" />
            </div>
          </td>
        </tr>
        
       <tr>
        <%= render :partial => "datafilesbutton" %>
       </tr>

      </table>

    </td>
  </tr>
</table>

