 <%= form_tag validatecontroller_path, :method => :post do%>
<div>
  Email <%= text_field_tag "control_login" %>

</div><br />
<div>
    Id : <%= password_field_tag "control_password" %>
</div><br />

<div>
  <%= submit_tag "login" %>
</div>

<% end %>