 <table class="users_table">
        <tr>
          <th>Participant</th></br>
          <th>Computer ID</th>
          <th>Status</th>
        </tr>
        <% @userdata.each do |row| %>
          <tr class="users">
            <td><%= row[:id] %></td>
            <td><%= row[:computer_id] %></td>
            <td><%= row[:status] %></td>
          </tr>
        <% end %>
      </table>