<div id="controllername" class="invisible" hidden="hidden"><%=@current_controller.nil? ? "":@current_controller%></div>
<div id="autoplayflag" class="invisible" hidden="hidden"><%=$Autoplay.nil? ? "false":$Autoplay%></div>
