<%= form_tag(save_quiz_answers_path, :method => "POST") do %>
 <div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 class="text-center">Statements</h3>
			<div class="col-md-6 col-md-offset-3" id="statements">
				<p><%=@statements[1]%></p>
			</div>
			
		</div>
		
		<b><h5 class="note col-md-12 text-center">Please record a statement of what action you plan to take.  This statement can be truthful or not.  
			You will have 5 seconds to record when the button is pressed.</h5></b>
	</div>
		<div class="text-center">
			<a href="#" class="btn btn-default btn-primary btn-lg record-btn" id="record"> Record Video</a>
		</div>
	</div>
<% end %>
<script src='/jquery-2.0.3.min.js'></script>
<script type="text/javascript">
var currentIndex = 0;
  items = $('.container div');
  itemAmt = items.length;
  $(".record_s").hide();
 </script>