<h3><div align="center">Statements </div></h3></br></br>
<%= form_tag(save_quiz_answers_path, :method => "POST") do %>
  <section class="demo">
    <div class="container">
    	<%i=0%>
      <%@statements.each do |statement|%>
      <div >
      	<%=hidden_field 'statement','id', :value=>statement[0], :index=>i+=1%>
         <%=statement[1]%>
      </div>
      <% end %>
    </div>
  </section>
  </br></br>
  <button class="split" value="split" type="button">Split</button>
  <button class="takeall" value="takeall" type="button">Take All</button>
  <div class="takeall">
    <%= submit_tag "Take All" %>
  </div>
<% end %>



<style type="text/css">
  .container {
    max-width: 400px;
    background-color: yellow;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
</style>
<script type="text/javascript">
var currentIndex = 0;
  items = $('.container div');
  itemAmt = items.length;
 </script>