<h3><div>Statements </div></h3>
<%= form_tag(save_quiz_answers_path, :method => "POST") do %>
  <section class="demo">
    <div class="container">
      <%@statements.each do |statement|%>
      <%=statement%>
      <% end %>
    </div>
  </section>
  </br></br>
  <button class="split" type="button">Split</button>
  <div class="takeall">
    <%= submit_tag "Take All" %>
  </div>
<% end %>



<style type="text/css">
  .container {
    max-width: 400px;
    background-color: yellow;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
</style>

<script type="text/javascript">

$('.split').click(function() {
	window.location.href="/participant/sample_video"
  });
  </script>