<div class="container2">
	<div class="row">

<%if @from=="exit"%>
<div class="col-md-12">
<h3 class="scores text-center container2">
	<%= "Your total earning from today's experiment is $#{@total_score} plus a $7 show-up payment."%>
</h3>

<%end%>

<h3 class="thanks text-center">
	Thank you for participating,</br>please wait for your name to be called for payment.
</h3>
</div>
<div>
  <img src="<%= asset_path 'loader.gif' %>" class="loaderimg" />
</div>

</div>
</div>

<script src='/jquery-2.0.3.min.js'></script>
<script>
$(document).ready(function(){
	$('.thanks').hide();
});

	setTimeout(function() {
		$('.scores').hide();
		$('.thanks').show();
}, 10000);
</script>
