<div class="container-fluid">
	<div class="row">
<h4 align="center">Welcome to Faces Procedures</h4>

<%if @from=="exit"%>
<div class="col-md-12">
<h1 class="score text-center">
	<%= "Your Earning is #{$userscore}"%>
</h1>

<%end%>

<h1 class="thanks text-center">
	<%= "Thank You!"%>
</h1>
</div>
<div>
  <img src="<%= asset_path 'loader.gif' %>" class="loaderimg" />
</div>

</div>
</div>

<script src='/jquery-2.0.3.min.js'></script>
<script>
$(document).ready(function(){
	$('.thanks').hide();
});

	setTimeout(function() {
		$('.score').hide();
		$('.thanks').show();
}, 10000);
</script>
