<!DOCTYPE html>
<html>
  <head>
    <script src="jquery-2.0.3.min.js"></script>
    <script src="RecordRTC.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <!-- Wrapper for video elements -->
    <div id='players'>
      <video class='recorder' autoplay loop muted></video>
      <audio class="recorder" autoplay loop muted></audio>
    </div>
    <!-- Control buttons -->
    <button id='adjust'>Adjustment Done!!!</button>
  </body>

</html>

<script>
$("#adjust").on('click', function(){
     $.ajax({
     	type: 'GET',
     	url: "/participant", 
     	data : {"from" : "adjust_page"}
     	});
})
</script>
