    <script src="/RecordRTC.js"></script>
    <script src="/app.js"></script> 
 
 
  <%=hidden_field 'adjusting','camera',:value=>@from%>

  
    <!-- Wrapper for video elements -->
    <div class="row" id='players'>
    	<div class="col-md-4 col-md-offset-2">
    		<h3 class="text-center">Please adjust your webcam so that your face is centered.</h3>
	      <video class='recorder'  autoplay loop muted></video>
	      <audio class="recorder"  autoplay loop muted></audio>
	      <div class="text-center" id="adjust">
   			<a href="" class="btn btn-default btn-info" id="adjbtn"> Adjustment done</a>
   		</div>	
    	
      	</div>
      	<!-- Control buttons -->
   		
    </div>
   

