<div id="waitmsgone">
</div>

<div id="experiment" >
	<% if @page == "waiting" %>
	<%= render :partial => 'participant/waiting' %>
	<% end %>
	<% if $experiment_status != "start" and @page == "adjust webcam"%>
	<%= render :partial => 'participant/adjust_screen' %>
	<% end %>
	<%if @page=="quiz"%>
	<script src='/jquery-2.0.3.min.js'></script>
	<script type="text/javascript">
		window.location.href = "/quiz"
	</script>
	<%elsif @page=="statement"%>
	<script type="text/javascript">
		window.location.href = "/statements"
	</script>
	<%elsif @page=="results"%>
	<%if @from=="exit_poll"%>
	<script type="text/javascript">
		window.location.href = "/get_participant_info"
	</script>
	<%else%>
	<script type="text/javascript">
		window.location.href = "/results?from=waiting_after_pick"
	</script>
	<%end%>
	<%elsif @page=="calulate_round"%>
	<script type="text/javascript">
		window.location.href = "/calculate_round?from=after_emo_suvey"
	 </script>
	<%end%>
</div>