<div id="experiment" >



  <% if @page == "waiting" %>
    <%= render :partial => 'participant/waiting' %>
  <% end %>


  <% if $experiment_status == "stop" and  @page == "adjust webcam"%>
    <%= render :partial => 'participant/sample_video' %>
  <% end %>
</div>