  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Participant Information</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <h1>Please fill the details</h1>
        <%= form_tag 'save_user_info' do %>
        <fieldset>
          <legend><span class="number"></span></legend>
          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name">
          <label>Gender:</label>
          <input type="radio" id="male" value="male" name="user_gender"><label for="gender" class="light" checked="checked">Male</label>
          <input type="radio" id="female" value="female" name="user_gender"><label for="gender" class="light">Female</label>
        </fieldset>
        
        <fieldset>
          <label for="age">Age:</label>
          <input type="text" id="age" name="user_age">
        </fieldset>
        <fieldset>
        <label for="job">First Language:</label>
        <select id="job" name="user_language">
          
            <option value="english">English</option>
            <option value="french">French</option>
        </select>
        
        <label for="job">English Fluency:</label>
        <select id="job" name="user_fluency">
          
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
        
        </fieldset>
      
    </body>
</html>
<div class="next_btn">
<%= submit_tag "Next" %>
</div>
<%end%>

<style>
	*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

input[type="submit"] {
  margin-left: 80px;
}


</style>

