<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
  </head>
  <body>
  	<div class="animated_image">
<img src="/assets/load.gif" alt="Smiley face" height="420" width="420">
</div> 
<h1 class="score" disabled="disabled">
	<%= "Your Score is #{$userscore}"%>
</h1>
<div class="exit_button">
	<button class="exit" value="exit" type="button">Exit Now</button>
</div>
<%#*<div id="label1">%>
<%#*Recording Time:%>
<%#*</div>%>
<%#*<select id="videotime" >%>
<%#*<option value="5"> 5</option>%>
<%#*<option value="10">10</option>%>
<%#*<option value="15">15</option>%>
<%#*<option value="20">20</option>%>
<%#*<option value="25">25</option>%>
<%#*</select>%>

<%#*<div id="label2">%>
<%#*sec%>
<%#*</div>%>

    <!--input id="startbutton" type="button" value="Start!" />
    <input id="stopbutton" type="button" value="Stop!" /-->


    <!--div id="links">

    </div-->
    
    <!--div id="counter">
    </div-->
    
    <div id="views">

    </div>


<div id="videodiv">
  <video id="video-playback" ></video>
</div>

<!--h4 align="right">Note : This activities will be done in background. For demo purpose i have shown here. </h4-->


  <script>

    var counter;
    var enableCounter=false;
    var recordRTC;
    var videoPlayback;
    var videoLive;
    var recordedBlob;
    var refid = 1;
    var videoList = new Array();

    const MIME_TYPE = "video/webm";

    var videoConstraints = {
      video: {
        mandatory: {
          minWidth: 1280,
          minHeight: 720
        }
      }
    };

    var record_options = {
      type: "video",
      video: {
        width: 1280,
        height: 720,
        framerate: 10
      },
      canvas: {
        width: 1280,
        height: 720
      }
    };

    navigator.getUserMedia =    (navigator.getUserMedia ||
      navigator.webkitGetUserMedia ||
      navigator.mozGetUserMedia ||
      navigator.msGetUserMedia);


    // DOM ready for event hooking
    $(function () {
      navigator.getUserMedia(videoConstraints, startRecording, onfailure);
      videoLive = document.getElementById("video-view");
      videoPlayback = document.getElementById("video-playback");
      $("#videodiv").hide();
        
    });

    function start() {
    	alert("hid")
      navigator.getUserMedia(videoConstraints, startRecording, onfailure);
    }

    function onfailure(){
      console.log("Failed to get camera");
    }




  


    function startRecording(mediaStream){
      console.log(mediaStream);
      setTimeout(stop, 5 * 1000);
      recordRTC = RecordRTC(mediaStream, record_options);
      starttimer();
      recordRTC.autoWriteToDisk = true;
      recordRTC.startRecording();
      //recordRTC.startRecording();
      $("#startbutton").attr("disabled", "disabled");
      $("#stopbutton").removeAttr("disabled");
       
    }

    function stop() {
      stoptimer();
      recordRTC.stopRecording(playback);
      $("#startbutton").removeAttr("disabled");
      $("#stopbutton").attr("disabled", "disabled");
      //("#views").hide()
    }
    function replay(idx){
      playvideo(videoList[idx]);
    }

    function playback(stream){
      playvideo(stream);
        var fileType = 'video';
        var fileName = 'ABCDEF.webm'; 
         //var recordedBlob = recordRTC.getBlob();
        var formData = new FormData();  formData.append(fileType + '-filename', fileName);formData.append(fileType + '-blob', recordRTC.getBlob()); xhr('save', formData, function (fName) { window.open(location.href + fName); }); function xhr(url, data, callback) { var request = new XMLHttpRequest(); request.onreadystatechange = function () { if (request.readyState == 4 && request.status == 200) { callback(location.href + request.responseText); } }; request.open('POST', url,{timeout: 3000}); request.send(data); }
      $("#links").append("<a id=lk" + refid + " href=" + stream +  "  download= " + fileName + "> Download Video " + refid + " </a> <br>" );
      //videoList[refid]= stream;
      //var bname = "Replay_Video_" + refid;
     // $("#views").append("<input type=button id=vw" + refid + " onclick=replay(" + refid + ") value=" + bname + "> <br>");
      refid += 1;
    }
    function playvideo(stream){
      videoPlayback.src = stream;
      videoPlayback.play();
    }

    function starttimer(){
      counter = 0;
      enableCounter = true;
      updateCounterDisplay();
      setTimeout(ticktock, 100);
    }
    function stoptimer(){
      enableCounter = false;
    }

    function ticktock() {
      if(enableCounter){
        counter += .1;
        updateCounterDisplay();
        setTimeout(ticktock, 100);
      }
    }
    function updateCounterDisplay(){
      $("#counter").html(Math.round(counter * 10) / 10);
    }
    function recordtimer(timevalue){
      recordtime = $("#videotime").val();
      setTimeout(stop, recordtime * 1000);
    }

  </script>


</body>
<script>
$(document).ready(function(){
	$('.score').hide();
	$('.exit_button').hide();
});

$('button').click(function() {
		window.location.href="/get_participant_info";
});
</script>

</html>