

<div id="guesscol" >
  <% count=0 %>
<% for payment in @payments  %>
  <a class="line<%=count%2%>" href="<%=@path + "/" + payment%>"><%=payment%></a><br /><br />
    <% count+=1 %>

<% end %>
</div>


