<table>
<%$paired_users && $paired_users.each do |pair|%>
<tr>
	<b> <%="#{pair[0]} <=> #{pair[1]}"%></b></br>
 </tr>
<%end%>
</table>

</br></br>

<div id="guesscol" >
  <% count=0 %>
<% for pair in @pairing  %>
  <a class="line<%=count%2%>" href="<%=@path + "/" + pair%>"><%=pair%></a><br /><br />
    <% count+=1 %>

<% end %>
</div>


