/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
 *= require_bootstrap.min
*/
#waitmsg{
    height: 220px;
    left: 200px;
    position: absolute;
    top: 220px;
    width: 782px;
}

#waitmsg{
    z-index: 1;
    background-color: #99ccff;
    border-right-style: outset;
    border-left-style: outset;
    border-bottom-style: outset;
    border-top-style: outset;
    border-right-width: 4px;
    border-left-width: 4px;
    border-bottom-width: 4px;
    border-top-width: 4px;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    -webkit-user-select: none;
}



:root {
    display: block;
}
#videotime{
    font-size: 24px;
    width: 50px;
}
#startbutton{
    position: absolute;
    bottom: 70px;
    left: 10px;
    font-size: 24px;
    -webkit-user-select: none;
}
#stopbutton{
    font-size: 24px;
    -webkit-user-select: none;
    visibility: hidden;
}
#counter{
    font-size: 24px;
    -webkit-user-select: none;
    position: absolute;
    top: 30px;
    left: 700px;
}

#videodiv{
    position: absolute;
    top: 130px;
    left: 150px;
    width: 612px;
    height: 461px;
    -webkit-user-select: none;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: black;
    border-left-color: black;
    border-bottom-color: black;
    border-top-color: black;

}
#video-playback{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 612px;
    height: 461px;
}
#label1{
    font-size: 24px;
    position: absolute;
    top: 600px;
    left: 150px;

}
#label2{
    font-size: 24px;
    position: absolute;
    top: 600px;
    left: 375px;

}
#videotime{
    position: absolute;
    top: 600px;
    left: 320px;

}
#links{
    position: absolute;
    top: 130px;
    left: 5px;
}
#views{
    position: absolute;
    top: 130px;
    left: 780px;
}