/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_bootstrap
 *= require_bootstrap.min
 */
#waitmsgone {
	margin-top: 100px;
}
#waitmsg {
	height: 220px;
	margin: 0 auto;
	width: 782px;
	z-index: 1;
	background-color: #99ccff;
	border-right-style: outset;
	border-left-style: outset;
	border-bottom-style: outset;
	border-top-style: outset;
	border-right-width: 4px;
	border-left-width: 4px;
	border-bottom-width: 4px;
	border-top-width: 4px;
	border-right-color: black;
	border-left-color: black;
	border-bottom-color: black;
	border-top-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	-webkit-user-select: none;
}
.demo {
	margin-top: 50px;
}
.que-ans {
	text-align: left;
}
ul li {
	list-style: none;
}
.save_button {
	text-align: center;
}
:root {
	display: block;
}
#videotime {
	font-size: 24px;
	width: 50px;
}
#startbutton {
	position: absolute;
	bottom: 70px;
	left: 10px;
	font-size: 24px;
	-webkit-user-select: none;
}
#stopbutton {
	font-size: 24px;
	-webkit-user-select: none;
	visibility: hidden;
}
#counter {
	font-size: 24px;
	-webkit-user-select: none;
	position: absolute;
	top: 30px;
	left: 700px;
}
#videodiv {
	position: absolute;
	top: 130px;
	left: 150px;
	width: 612px;
	height: 461px;
	-webkit-user-select: none;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-color: black;
	border-left-color: black;
	border-bottom-color: black;
	border-top-color: black;
}
#video-playback {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 612px;
	height: 461px;
}
#label1 {
	font-size: 24px;
	position: absolute;
	top: 600px;
	left: 150px;
}
#label2 {
	font-size: 24px;
	position: absolute;
	top: 600px;
	left: 375px;
}
#videotime {
	position: absolute;
	top: 600px;
	left: 320px;
}
#links {
	position: absolute;
	top: 130px;
	left: 5px;
}
#views {
	position: absolute;
	top: 130px;
	left: 780px;
}
#timebox {
	width: 100%;
	height: 40px;
}
.users_table {
	border: 1px solid black;
	table-layout: auto;
	text-align: center;
	border-collapse: separate;
	border-spacing: 5px;
}
.control {
	margin-left: 150px;
	margin-top: 40px;
}
tr:nth-child(even) {
	background-color: #F0F0F0;
}
.header {
	background: #F0F0F0;
	border: 1px solid #CCC;
}
.container {
	max-width: 800px;
	background-color: black;
	margin: 0 auto;
	text-align: center;
	position: relative;
	font-weight: normal;
}
.container div {
	background-color: white;
	width: 100%;
	display: inline-block;
	display: none;
}
.container img {
	width: 100%;
	height: auto;
}
button {
	position: absolute;
}
.prev {
	left: 5px;
}
.split {
	left: 620px;
	width: 100px;
	height: 40px;
	color: green;
	margin-left: 89px;
	margin-top: 100px;
}
.takeall {
	margin-left: 558px;
	width: 100px;
	height: 40px;
	color: green;
	margin-top: 100px;
}
.animated_image {
	margin-left: 450px;
	background-color: #FFFFE0;
}
.score, .thanks {
	color: rgb(200, 230, 155);
	font-size: 50px;
	position:relative;
	top: 125px;
	text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
	text-decoration: blink;
}

@keyframes blink {
from {
	opacity: 1;
}
to {
	opacity: 0;
}
}
.exit {
	display: block;
	background: #62869b;
	width: 330px;
	height: 71px;
	text-align: center;
	padding: 0px 0 0 0;
	font: 1.2em/12px -moz-fixed, Arial, menu, sans-serif;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: 581px;
	margin-top: 154px;
}
#downloadanswers, #downloademotions, #downloadstatements, #watchpairing,#downloadpayments {
	width: 200px;
	height: 40px;
	color: red;
}
#enable, #start, #stop, #reset, #timebutton, #userlimitbutton {
	width: 200px;
	height: 40px;
	color: green;
}
#timebutton, #userlimitbutton {
	width: 200px;
	height: 40px;
	color: blue;
}
#user_div {
	background-color: #FFFFE0;
}
#submit {
	width: 180px;
	height: 40px;
	color: blue;
}
#players {
	margin-left: 360px;
}

#r_buttons {
	height: 500px;
}
#upload {
	margin-left: -27px;
}

.next-btn {
	width: 100px;
	height: 40px;
	color: green;
	margin-top: 35px;
}
.que-ans input {
	width: 20px;
}
.ans-label {
	width: calc(100% - 30px);
	display: inline-table;
}
input[type=submit] {
	border-radius: 5px;
	border: 0;
	width: 100px;
	height: 40px;
	margin-left: 633px;
	width: 100px;
	height: 40px;
	color: green;
	margin-top: 35px;
}
#survey {
	margin-top: 200px;
}
.submit {
	color: green;
	margin-left: 146px;
	margin-top: 30px;
}
#guesscol {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	top: 50px;
}
#guesscol {
	width: 250px;
	left: 20px;
}

img.loaderimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
  }
  
.pull-left{
	font: bold;
}

.recorder{
	margin-left: -148px;
}

.click_when_ready{
	color: blue;
}
.scores{
	margin-top: 200px;
}
