<!DOCTYPE html>
<html>
<head>
  <title>FacesProcedures</title>
  <div class="header">
  <header>
  	<h3 align="center">Faces Procedures</h3>
  	</header>
  </div>
   <%= stylesheet_link_tag  'application',  media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'recordrtc', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag  'application', "bootstrap", "bootstrap.min", media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', "jquery_v1.11.2", "bootstrap", "bootstrap.min", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<style>
.header {
height:50px;
background:#F0F0F0;
border:1px solid #CCC;
width:960px;
margin:0px auto;

}
</style>
